*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--main-text-color);
	background-color: var(--main-bg-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}

/* -------Снимаем стили списков------ */
.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* -------Снимаем стили ссылок------ */
.link {
	text-decoration: none;
}

/* -------Задаем стили картинкам------ */
img {
	display: block;
	max-width: 100%;
	height: auto;
}
