:root {
	--main-text-color: #757575;
	--secondary-text-color: #212121;
	--third-text-color: #ffffff;
	--accent-link-color: #2196f3;
	--main-bg-color: #ffffff;
	--secondary-bg-color: #f5f4fa;
	--hero-footer-bg-color: #2f303a;

	--section-padding: 94px;
	--card-set-gap: 30px;

	--first-icon-color: #afb1b8;
	--secondary-icon-color: #ffffff;
}
